div(ng-controller="mainCtrl")
  div.row
    p.col-xs-1 {{ money }}€
    p.col-xs-3 {{ taps }} taps
    div.col-xs-3
      button.btn(ng-click="restart()", value="restart")
        | Restart
    div.col-xs-3
      button.btn(ng-click="help()", value="Help")
        | Help
  div.row

    div.col-md-12
      canvas.gameView(id="canvas", ng-click="tap($event)")