div(ng-controller="mainCtrl")
  div.row
    p.col-xs-1 {{ money }}€
    p.col-xs-3 {{ taps }} taps
    div.col-xs-3
      button.btn(ng-click="restart()", value="restart")
        | Restart
    div.col-xs-3
      button.btn(ng-click="tap()", value="Tap")
        | Tap
  div.row

    canvas.col-md-12.gameView(id="canvas", ng-click="tap($event)")